@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  background-color: #faf8f5;
  color: #5a4d38;
}

@layer base {
  * {
    @apply border-beige-300;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-beige-900;
  }
}
